<h1>Listing speaks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @speaks.each do |speak| %>
  <tr>
    <td><%= speak.title %></td>
    <td><%= speak.content %></td>
    <td><%= link_to 'Show', speak %></td>
    <td><%= link_to 'Edit', edit_speak_path(speak) %></td>
    <td><%= link_to 'Destroy', speak, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Speak', new_speak_path %>
