<!DOCTYPE html>
<html>
<head>
  <title>Espeak</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= jw_player_headers %>
</head>
<body>
<%= yield %>

</body>
</html>
